<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=IE8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%- fullname %></title>
		<link rel="shortcut icon" type="static/ico" href="/static/images/ico.ico"/>
		<link href="static/less/core.less" rel="stylesheet/less" type="text/css"></link>		
		<script aux>
less = {
	env: "development",
	async: false,
	fileAsync: false,
	poll: 1000,
	functions: {},
	dumpLineNumbers: "comments",
	relativeUrls: false
};
		</script>
		<script aux src="env/less.min.js"></script>
		<script data-type="base">
var IXW_NS = 'NS';
		</script>
		<script data-type="base" type="text/javascript" src="env/base64.min.js"></script>
		<script data-type="base" type="text/javascript" src="env/ix.js"></script>
		<script data-type="base" type="text/javascript" src="env/utils.js"></script>

		<script type="text/javascript" src="static/sim/session.js"></script>
		<script type="text/javascript" src="static/sim/entities.js"></script>
		<script type="text/javascript" src="static/services/pseudoServices.js"></script>
	</head>
	<body>
		<div id="app"></div>
		<!-- built files will be auto injected --></body>
</html>
